{% extends 'base.html.twig' %}

{% block title %}Welcome to TJS!{% endblock %}

{% block body %}
    <h1>HomePage</h1>
    <a href="/TJs/public/form">Add employee</a>
    <a href="/TJs/public/employeesData">View Employee Data</a>
{% endblock %}
