{% extends 'base.html.twig' %}

{% block title %}Welcome to TJS!{% endblock %}

{% block body %}
    <h1>HomePage</h1>
    <a href="{{ url('new_employee') }}">Add employee</a>
    <a href="{{ url('employees_show') }}">View Employee Data</a>
{% endblock %}
