<!DOCTYPE html>
<html>

{% block stylesheet %}

    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
